@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Sans+TC:wght@400;500;700&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Noto Sans TC', Sans;
}

#deck-wrapper>div>p:first-child {
  font-family: 'Ma Shan Zheng';
}

#deck-wrapper>div:first-child>p:first-child::after{
  content: 'Latest !';
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 0 8px 0 8px;
  border: 1px solid rgb(220 38 38);
  color: rgb(220 38 38);
  font-size: 1.5rem;
  border-radius: 100rem;
}
